:root {
  --color-primary: #EF4852;
  --color-primary-600: #6d0000;

  --color-secondary: #044B73;
  --color-secondary-600: #3b4856;

  --color-third: #007294;
  --color-third-600: #354954;

  --color-bg: #ffffff;
  --color-bg-600: #f1f5f9;

  --color-text: #242424;
  --color-text-300: #3e4145;
  --color-text-600: #131313;

  --color-border: #e2e8f0;
  --color-border-600: #cbd5e1;

  --color-danger: #ff5a5a;
  --color-danger-600: #d8353d;

  --color-warning: #ffa454;
  --color-warning-600: #c87900;

  --color-success: #15bf94;
  --color-success-600: #008f94;

  --font-family: 'Figtree', sans-serif;
}
